USE [master]
GO
/****** Object:  Database [SpotVeritabanı]    Script Date: 11.03.2022 20:42:20 ******/
CREATE DATABASE [SpotVeritabanı]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SpotVeritabanı', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SpotVeritabanı.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SpotVeritabanı_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SpotVeritabanı_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SpotVeritabanı].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SpotVeritabanı]
GO
/****** Object:  Table [dbo].[Deneme]    Script Date: 11.03.2022 20:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deneme](
	[urunID] [int] IDENTITY(1,1) NOT NULL,
	[urunAdi] [nvarchar](50) NOT NULL,
	[stokAdet] [int] NOT NULL,
	[Fiyat] [int] NOT NULL,
 CONSTRAINT [PK_Deneme] PRIMARY KEY CLUSTERED 
(
	[urunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
